/* ==============================================
   FEUILLE DE STYLES DES GABARITS HTML/CSS
   � Elephorm & Alsacreations.com
   Conditions d'utilisation:
   http://creativecommons.org/licenses/by/2.0/fr/
   ============================================== */


/* --- STYLES DE BASE POUR LE TEXTE ET LES PRINCIPAUX �L�MENTS --- */

/* Page */
html {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%; /* Voir -> Note 1 � la fin de la feuille de styles. */
}
body {
    margin: 0;
    padding: 10px 20px; /* Note -> 2 */
    font-family: Verdana, "Bitstream Vera Sans", "Lucida Grande", sans-serif; /* 3 */
    font-size: .8em; /* -> 4 */
    line-height: 1.25; /* -> 5 */
    color: black;
    background: #f7f7f7;
}

/*fieldset*/
fieldset {
   margin-left : 200px;
    width: 400px;
    padding: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.7);
    background: #fff;
}
    legend {
      float: left;
      display: block;
      width: 100%;
      position: relative;
      border-bottom: 1px solid #dfdfdf;
      top: 0;
      left: 0;
      clear: both;
      margin-bottom: 20px;
      padding-bottom: 10px;
      line-height: 30px;
      color: #444;
      text-shadow: 0 1px 0 #fff;
    }
    

/* Titres */
h1, h2, h3, h4, h5, h6 {
    margin: 1em 0 .5em 0; /* -> 6 */
}
h1, h2 {
    font-family: Georgia, "Bitstream Vera Serif", Norasi, serif;
    font-weight: normal; /* -> 7 */
}
h1 {
    font-size: 3em; /* -> 8 */
    font-style: italic;
}
h2 {font-size: 1.8em;}
h3 {font-size: 1.2em;}
h4 {font-size: 1em;}

/* Listes */


/* Paragraphes */
p {
    margin: .75em 0;
}
li p, blockquote p {
    margin: .5em 0;
}

/* Citations */
blockquote, q {
    font-size: 1.1em;
    font-style: italic;
    font-family: Georgia, "Bitstream Vera Serif", Norasi, serif;
}
blockquote {
    margin: .75em 0 .75em 24px;
}
cite {
    font-style: italic;
}

/* Liens */
a {
    color: mediumblue;
    text-decoration: underline;
}
a:hover, a:focus {
    color: crimson;
}
a img {
    border: none; /* -> 10 */
}

/* Divers �l�ments de type en-ligne */
em {
    font-style: italic;
}
strong {
    font-weight: bold;
    color: dimgray;
}


/* --- STYLES POUR CERTAINS CONTENUS DES GABARITS --- */

pre, code {
    font-size: 100%;
    font-family: "Bitstream Vera Mono", "Lucida Console", "Courier New", monospace;
}
pre {
    width: 90%;
    overflow: auto;
    overflow-y: hidden;
    margin: .75em 0;
    padding: 12px;
    background: #eee;
    color: #555;
}
pre strong {
    font-weight: normal;
    color: black;
}
#copyright {
    margin: 20px 0 5px 0;
    text-align: right;
    font-size: .8em;
    color: grey;
}
#copyright a {
    color: #848F63;
    text-decoration: none;
}
#copyright a:hover, #copyright a:focus {
    text-decoration: underline;
}

/* --- POSITIONNEMENT --- */

/* Page */
body {
    padding: 10px 5px;
}
#global {
    width: 90%; /* -> 3 */
    margin: 0 auto; /* -> 4 */
    margin-left: 5%;
    margin-right: 5%;
}

/* En-t�te */
#entete {
    padding: 0;
    width: 90%;
}
#entete h1 {
    margin: 0;
}
#accueil img  {
    //float: top;
    //7px 20px 10px 0;
    margin : 0 auto;
    height : 100px;
    width: 500px;
}

#profil img {
    float : left;
    margin-right : 10px;
}
#entete .sous-titre {
    margin: 4px 0 15px 0;
}

/* Bloc central contenant #navigation et #contenu */
#centre {
    width: 90%; /* -> 5 */
    overflow: hidden; /* -> 5 */
    margin-top : 5%;
    margin-bottom: 5%;
}

/* Menu de navigation */
/*
#navigation {
    width: 300px;
    float: left; // -> 6 
}
#navigation ul {
    margin: 0;
    padding: 20px 10px 20px 10px;
    list-style: none;
}
#navigation a {
    display: block;
    height: 1%; // -> 7 
    padding: 6px 10px 6px 10px;
    line-height: 1.5;
    font-size: .9em;
    text-decoration: none;
}
*/
#navigation {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 110%;
width: 15%;
padding: 0px;
margin: 0px;
float : left;
}

#navigation h1 {
display: block; 
background-color:#FF9900;
font-size: 90%; 
padding: 3px 0 5px 3px;
border: 1px solid #000000;
color: #333333;
margin: 0px;
width:159px;
}

#navigation ul {
list-style: none;
margin: 0px;
padding: 0px;
border: none;
}
#navigation ul li {
margin: 0px;
padding: 0px;
}
#navigation ul li a {
font-size: 90%;
display: block;
border-bottom: 1px dashed #C39C4E;
padding: 5px 0px 2px 4px;
text-decoration: none;
color: #666666;
width:180px;
}

#navigation ul li a:hover, #vertmenu ul li a:focus {
color: #000000;
background-color: #eeeeee;
}

/* Contenu */
#contenu {
    margin-left: 200px;
    //margin-right: 20%;
    padding: 10px 10px;
    width : 80%;
}
#contenu > :first-child {
    margin-top: 10px;
    margin-bottom: 10%;
}
#contenu p, #contenu li {
    line-height: 1.5;
}

/* Pied de page */
#pied {
    margin-top : 5%;
    padding: 15px 20px 10px 0;
    font-size: .85em;
}

/* Mention de copyright */
#copyright {
    margin: 8px 0 0 0;
    font-size: 1em;
    text-align: left;
}

/*table*/

table {
	background: #f5f5f5;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 12px;
	line-height: 24px;
	margin: 30px auto;
	text-align: center;
	width: 1050px;
}	

th {
	background: url(http://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#777, #444);
	border-left: 1px solid #555;
	border-right: 1px solid #777;
	border-top: 1px solid #555;
	border-bottom: 1px solid #333;
	box-shadow: inset 0 1px 0 #999;
	color: #fff;
  font-weight: bold;
	padding: 10px 15px;
	position: relative;
	text-shadow: 0 1px 0 #000;	
}

th:after {
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
	content: '';
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	position: absolute;
	top: 25%;
	width: 100%;
}

th:first-child {
	border-left: 1px solid #777;	
	box-shadow: inset 1px 1px 0 #999;
}

th:last-child {
	box-shadow: inset -1px 1px 0 #999;
}

td {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
}

td:first-child {
	box-shadow: inset 1px 0 0 #fff;
}	

td:last-child {
	border-right: 1px solid #e8e8e8;
	box-shadow: inset -1px 0 0 #fff;
}	

tr {
	background: url(http://jackrugile.com/images/misc/noise-diagonal.png);	
}

tr:nth-child(odd) td {
	background: #f1f1f1 url(http://jackrugile.com/images/misc/noise-diagonal.png);	
}

tr:last-of-type td {
	box-shadow: inset 0 -1px 0 #fff; 
}

tr:last-of-type td:first-child {
	box-shadow: inset 1px -1px 0 #fff;
}	

tr:last-of-type td:last-child {
	box-shadow: inset -1px -1px 0 #fff;
}	

tbody:hover td {
	color: transparent;
	text-shadow: 0 0 3px #aaa;
}

tbody:hover tr:hover td {
	color: #444;
	text-shadow: 0 1px 0 #fff;
}